*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #e7e9e1;
}
.hero{
    overflow: hidden;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.l{
    position: relative;
}

.l .logo{
    width:45px;
    height:45px;
    background-color: black;
    color:#e7e9e1;
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: -50px;
}


.tags{
    display: flex ;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.r{
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: aliceblue;
    font-size: 12px;
}
.r button{
    padding: 10px 20px;
    color: white    ;
    border-radius: 50px;
    background-color: black;
}
.hero h1{
    font-size: 450px;
    display: flex;
    /* justify-content: center; */
    color: #BEFF01;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.hero h2{
    font-size: 50px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-20%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;;
}
nav p:nth-child(1){
    color: gray;
}
.side{
    width: 3%;
    height: 90vh;
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.side p{
    rotate: -90deg;
}