*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* main h1::after{
    content: "Hetvi";
}
main h1::before{
    content: "Hetvi";
} */

main h1{
    position: relative;
    font-family: sans-serif;
    font-size: 80px;
}
main h1::after{
    content: "";
    background-color: black;
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all ease 0.5s;
}
main h1:hover::after{
    width: 100%;
}