*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

nav{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;

}

nav .left{
    width: (100%/3);
    padding-left: 100px;
}

nav .tags{
    width: (100%/3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
}

nav .tags button{
    width: 90px;
    padding: 6px;
}

nav .right{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 100px;
}

nav .right button{
    width: 90px;
    background-color: black;
    color: white;
    padding: 6px;
}

.hero1{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
    position: relative;

}

.hero1 .box{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    position: relative;
    border-radius: 80px;
}

.hero1 .box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;


}
.hero1 .box h2{
    position: absolute;
    top: 12%;
    left: 29%;
    font-family: sans-serif;    color: white;
    font-size: 35px;
}
.hero1 .box h3{
    position: absolute;
    top: 20%;
    left: 40%;
    font-family: sans-serif;
        color: white;
    font-size: 35px;
}

.hero1 .box h5{
    position: absolute;
    top: 30%;
    left: 25%;
    font-family: sans-serif;
    color: white;
}
.hero1 .box h5{
    display: flex;
    justify-content: center;
    align-items: start;
}

.hero1 .box button{
    position: absolute;
    top: 35%;
    left: 45%;
    width: 150px;
    height: 7%;
    background-color: black;
    color: white;
}

.hero1 .box .tag{
    font-family: sans-serif;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 95%;
    left: 75%;
    color: white;

}
header{
    width: 100%;
    height: 15%;
    display: flex;
}
header .button{
    width: calc(100%/2);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left : 100px;

}

button{
        border-radius: 20px;
        height: 25%;
        width: 20%;

}
header .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header .right h5{
    width: calc(100%/2);
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    
    font-size: 16px;
    font-family: sans-serif;}

.hero{
    width: 100%;
    height: 75%;
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 50px;
    position: relative;
}

.hero .box1{
    width: 400px;
    height: 400px;
    border-radius: 60px;
    background-color: #0D1A2D;
    color: white;
    display: flex;
    align-items: satrt;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;   
    font-size: 30px;
    padding: 20px;
}
.hero .box1 .switch{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.hero .box1 span{
    color: gray
}

.hero .box2{
    width: 400px;
    height: 400px;
    border-radius: 60px;
    background-color: black;
    color: white;
    position: relative;
}
.hero .box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;

}
.hero .box3{
    width: 400px;
    height: 400px;
    border-radius: 60px;
    background-color: #F7F8FC;
    padding: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    font-family: sans-serif;
}

.hero .box3 h1{
    font-size: 60px;  
}

.hero .box3 h5{
    font-size: 25px
}

.hero .box3 h6{
    font-size: 15px;
}

.hero h2{
    position: absolute;
    top:92%;
    font-size: 15px;
    font-family: sans-serif;
}

.hero .box3 .b{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 18px;

}

