*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 500px;
    width: 500px;
    background-color: black;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.box img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.overlay{
    height: 50%;
    width: 100%;
    background-color: rgba(184, 114, 125, 0.469);
    border-radius: 20px;
    position: absolute;
    top: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;

}
.box:hover .overlay{
    top: 0;
    backdrop-filter: blur(2px);

}