*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fafafa;

}

.hero{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    position: fixed;

}

.hero h1 span{
    color: rgb(83, 82, 82);
}

.hero h1{
    margin-bottom: 50px;
    font-size: 55px;
}
.box{
    height: 500px;
    width: 100%;
    background-color: rgb(80, 45, 45);
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding-left: 20px;
    padding-right: 20px;
}
nav h2{
    font-size: 30px;
}
.tags{
    height: 100%;
    width: 50%;
    display: flex ;
    gap: 10px;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-weight: bolder;
    

}